<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.indialone.layoutpracticedemo220721">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LayoutPracticeDemo220721">
        <activity
            android:name=".meditationapp.MeditationHomeActivity"
            android:exported="true"
            android:label="@string/title_activity_meditation_home"/>
        <activity
            android:name=".meditationapp.MeditationSignUpActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".meditationapp.MeditationLoginActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".meditationapp.MeditationAfterSplashActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".meditationapp.MeditationSplashActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ubereats.DishDetailActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ubereats.UberEatsMainActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".homepageinsta.InstaHomePageActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".instagram.InstagramLayoutActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".shoppingcart.ShoppingCartActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".equalizer.EqualizerActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".profilesettings.ProfileSettingsActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ariangrande.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>